.card-register{
    max-width: 100%!important;
    margin: 0px!important;
    background-color: #787878!important;
}

.container{
    background-color: #fff;
    z-index: 1;
    height: auto;
    margin-top: 90px;
}