<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12" >                    
                    <h4 style="margin-top: 36px;
                    font-size: 2rem;
                    text-align: center;
                    padding: 20px;">Welcome to our Student and Graduate programmes</h4>
                    <img src="../../../assets/img/img1.jpg" alt="" style="height: 70%;width: 100%;">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card card-register" style="overflow-y: scroll;
                    max-height: 461px;height: 400px;">
                        <h5>INTERNSHIP</h5>
                        <p>                            
                            An internship is a professional learning experience that offers meaningful, practical work
                            related to a student’s field of study or career interest. An internship gives a student the
                            opportunity for career exploration and development, and to learn new skills. It offers the
                            employer the opportunity to bring new ideas and energy into the workplace, develop talent
                            and potentially build a pipeline for future full-time employees.
                            </p><br/>
                            <h5>INTERNSHIP PROGRAM</h5>
                            <p>                            
                            We continuously run internship programs and other initiatives all over the globe. Intention
                            of the internship program is to enhance the skillsets of individuals
                            including students, government officials, law enforcement, working professionals, trainers
                            and all who want to make their career in software development & Data Engineering.<br/>
                            Key points about our proposed internship program:<br/><br/>
                            1. Structured Learning Environment: Our internship program is designed to provide a
                            structured learning environment where interns can gain hands-on experience in Software
                            development & Data Engineering .<br/><br/>
                            2. Mentorship and Guidance: We are dedicated to providing mentorship and guidance to interns
                            throughout their internship period, ensuring they have the support needed for personal and
                            professional growth.<br/><br/>
                            3. Customizable Programs: We understand the unique needs of Esther Data Labs , and we are
                            open to customizing internship programs to align with your company's goals and values.<br/><br/>
                            4. Talent Pipeline: By partnering with Esther Data Labs , you will have access to a pool of
                            talented and motivated individuals who may become potential future hires for your
                            organization.
                        </p>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>