<div class="main">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12" style="margin-top: 15px;">                   
                    <div class="card card-register">
                        <p>
                            Cyber security consulting services to help business assess risks,
                            develop security strategy and implement best practices.
                        </p>
                        
                        <p><b>Threat Intelligence - </b> <br/>Services that gather and analyze information about current and
                             potential cyber threats. This helps organization's stay ahead of attackers by understanding their 
                             tactics and techniques.
                        </p><br/>
                        <p>
                            <b>Penetrating Testing -</b> <br/> Simulating cyber attacks to identify vulnerabilities in systems and 
                            networks before malicious hackers can exploit them.
                        </p><br/>
                        <p>
                            <b>Security Awareness Training -</b> <br/> Educating employees/students about cybersecurity
                             best practices to prevent human errors that could lead to security breaches.
                        </p><br/>
                        <p>
                            <b>Workstation Security - </b> <br/>protecting sensitive data and
                             ensuring the integrity of your organization's IT infrastructure.
                        </p><br/>
                        <p>
                            <b>Application Security - </b> <br/> involves implementing measures to protect software applications from
                             threats throughout their lifecycle, from development to deployment and beyond.
                        </p><br/>
                        <p>
                            <b>Network Security -</b> <br/> protecting the integrity, confidentiality, and availability of data 
                            and resources as they are transmitted across or accessed through networks.
                        </p><br/>
                        <p>
                            <b>DevSecOps -</b> <br/>  is a practice that implements security into every phase 
                            of the software development lifecycle.
                        </p><br/>
                    </div>
                </div>
            </div>
            <br />          
        </div>
    </div>    
</div>