.navbar .nav-link p:hover {   
    color: white!important;
}

.navbar .navbar-transparent {
    background-color: #000!important;
}
.navbar.navbar-transparent {
    padding-top: 0px!important;
}

.navbar {
    background-color: #000!important;
}

@media screen and (max-width: 991px) {
    .navbar-translate {
        background-color: #000!important;
    }}